@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

h1.title{
    color:#fbf1c7;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #282828;
    
}
div.main{
    width: 50%;
    background-color: #a89984;
    border-radius: 25px;
    border: 2px solid #3c3836;
    padding: 20px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
}   

 